.popup{
    display: none;
}
.popup::before{
    content: '';
    background: #000000;
    opacity: 0.5;
    transition: opacity .5s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}