/*page*/
.page{
    background: #000000;
    min-height: 1217px;
}
/*main-page*/
.main-page{
    max-width: 1280px;
    width: 100%;
    background: #000000;
    margin: auto;
    padding-top: 45px;
}

/*header*/
.header{
    max-width: 880px;
    width: 100%;
    min-height: 74px;
    margin: auto;
}
.header__logo{
    background-image: url(/images/logo.svg);
    max-width: 142px;
    width: 100%;
    min-height: 33px;
}
.header__line{
    width: 100%;
    margin-top: 41px;
    border-bottom: 1px solid #545454;
    opacity: .7;
}

/*main*/
.main-content{
    max-width: 880px;
    width: 100%;
    margin: auto;
}
.profile{
    display: grid;
    grid-template-columns: minmax(auto, 120px) 1fr minmax(auto, 150px);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
    align-items: center;
}
.profile__avatar{
    max-width: 120px;
    width: 100%;
    border-radius: 50%;
}
.profile__title-container{
    display: flex;
    padding: 0 244px 0 30px;
    column-gap: 18px;
}
.profile__title{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
}
.profile__subtext{
    grid-area: 2 / 2 / 2 / 2;
    padding: 0 244px 0 30px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.profile__edit-button{
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.profile__edit-button::before{
    content: '';
    background-image: url(images/edit-button.svg);
    width: 10px;
    height: 10px;
}

.profile__add-button{
    grid-area: 1 / 3 / 2 / 3;
    max-width: 150px;
    width: 100%;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.profile__add-button::before{
    content: '';
    background-image: url(images/add-button.svg);
    width: 22px;
    height: 22px;
}

.elements{
    display: grid;
    grid-template-columns: repeat(3, fit-content(282px));
    justify-content: center;
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    padding: calc(47.25px / 2) 0 calc(67px / 2) 0;
    margin: 0;
    list-style: none;
}
@media screen and (max-width: 1023px){
    .elements{
        grid-template-columns: repeat(2, fit-content(282px));
    }
}
@media screen and (max-width: 767px){
    .elements{
        grid-template-columns: fit-content(282px);
    }
}
.elements__img{
    max-width: 282px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.elements__el{
    background: #FFFFFF;
    border-radius: 10px;
}
.elements__subblock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px 0 21px;
}
.elements__like{
    background-image: url(images/elemeints__like.svg);
    width: 22px;
    height: 19px;
}
.elements__like:hover{
    opacity: 0.5;
}
.elements__like_active{
    background-image:url(images/elemeints__like-active.svg);
}