.header{
    max-width: 880px;
    width: 100%;
    min-height: 74px;
    margin: auto;
    padding: 45px 0 calc(36.25px / 2);
}
@media screen and (max-width: 1023px) {
    .header{
        padding: 28px 0 calc(38.25px / 2);
    }
}