.popup__name{
    width: 100%;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 0 0 13px;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}